#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  header {
    position: fixed;
    width: 100%;
    padding: 2rem 0rem;
    font-size: 3rem;
    background-color: #242424;

  }

  .home {
    margin-top: 5%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow-y: auto;
    height: 50%;

    #main {
      padding: 2rem 1rem;

    }

    #setnotif {
      display: flex;
      padding: 3rem 1rem;
      flex-direction: column;
      align-items: center;

    }
  }

  #setnotif{
    display: flex;
    padding: 3rem 1rem;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 120px;
    right: 120px;
    z-index: 1000;
  }

  #search {
    display: flex;
    padding: 3rem 1rem;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 390px;
    right: 120px;
    z-index: 1000;
    width: 350px;
  }
}

// @media screen and (max-width: 1080px) {
//   #root {
//     .home {
//       width: auto;
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       justify-content: center;
//       #setnotif{
//         display: flex;
//         padding: 3rem;
//         justify-content: center;
//         flex-direction: row;
//       }
//     }
//   }
// }